@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
  
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
  
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  html.dark {
    @apply bg-slate-900 text-slate-200;
  }
  
  .dark {
    color-scheme: dark;
  }
}